Repository eouzoe/forge: changes, and which lefthook commands are due for each by the changed paths.
All: format, clippy, toml-check

format:
  run: cargo fmt --check

clippy:
  run: cargo clippy --workspace -- -D warnings -W clippy::pedantic

toml-check:
  run: taplo fmt --check

feat(gateway): add Axum HTTP server for SandboX isolator backend
  Cargo.lock
  forge-gateway/Cargo.toml
  forge-gateway/src/error.rs
  forge-gateway/src/lib.rs
  forge-gateway/src/main.rs
  forge-gateway/src/pool.rs
  forge-gateway/src/routes.rs
Due: format, clippy, toml-check

chore(ci): add GitHub Actions workflow for test, clippy, and fmt
  .github/workflows/ci.yml
Due: none

test(forge): comprehensive test suite + MIRI + proptest + fuzz targets
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  forge-core/src/lib.rs
  forge-executor/Cargo.toml
  forge-executor/src/config.rs
  forge-executor/src/firecracker.rs
  forge-executor/src/orchestrator.rs
  forge-executor/src/runner.rs
  forge-gateway/src/error.rs
  forge-gateway/src/pool.rs
  forge-gateway/src/routes.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_hash_computation.rs
  fuzz/fuzz_targets/fuzz_parse_execution_output.rs
Due: format, clippy, toml-check

chore(nix): add fenix flake.nix + direnv
  .envrc
  .gitignore
  flake.nix
Due: none

chore(quality): Q001 — workspace-level lint unification
  Cargo.toml
  forge-auditor/Cargo.toml
  forge-core/Cargo.toml
  forge-core/src/error.rs
  forge-core/src/id.rs
  forge-core/src/lib.rs
  forge-core/src/trust.rs
  forge-executor/Cargo.toml
  forge-executor/src/error.rs
  forge-executor/src/firecracker.rs
  forge-executor/src/lib.rs
  forge-executor/src/runner.rs
  forge-executor/src/unix_client.rs
  forge-gateway/Cargo.toml
  forge-gateway/src/error.rs
  forge-gateway/src/lib.rs
  forge-gateway/src/routes.rs
  forge-nix/Cargo.toml
Due: format, clippy, toml-check

chore(quality): Q002 — release profile overflow-checks + rust-version 1.85
  Cargo.toml
Due: toml-check

chore(workspace): Q001/Q002 残留清理 + harness 工作流設定 + miri ignore
  .gitattributes
  forge-auditor/src/lib.rs
  forge-core/src/examples.rs
  forge-executor/src/config.rs
  forge-executor/src/firecracker.rs
  forge-executor/src/handle.rs
  forge-executor/src/lib.rs
  forge-executor/src/orchestrator.rs
  forge-executor/src/runner.rs
  forge-executor/tests/block_execution.rs
  forge-executor/tests/firecracker_lifecycle.rs
  forge-gateway/src/main.rs
  forge-gateway/src/pool.rs
  forge-nix/src/lib.rs
Due: format, clippy

chore(workspace): Q001/Q002 残留清理 + harness 工作流設定 + miri ignore
  .gitattributes
  .harness/feature_list.json
  .harness/progress.md
  .harness/restore-env.sh
  CLAUDE.md
  forge-auditor/src/lib.rs
  forge-core/src/examples.rs
  forge-executor/src/config.rs
  forge-executor/src/firecracker.rs
  forge-executor/src/handle.rs
  forge-executor/src/lib.rs
  forge-executor/src/orchestrator.rs
  forge-executor/src/runner.rs
  forge-executor/tests/block_execution.rs
  forge-executor/tests/firecracker_lifecycle.rs
  forge-gateway/src/main.rs
  forge-gateway/src/pool.rs
  forge-nix/src/lib.rs
Due: format, clippy

Update README.md
  README.md
Due: none

chore(nix): migrate fenix to rust-overlay + expand devshell toolchain
  flake.lock
  flake.nix
Due: none

feat(toolchain): T05 — .cargo/config.toml + rust-toolchain.toml
  .cargo/config.toml
  flake.nix
  rust-toolchain.toml
Due: toml-check

feat(toolchain): T06 — justfile 4-tier gate + dashboard
  justfile
Due: none

feat(devops): T07 — lefthook + deny.toml + .gitleaks.toml
  .gitleaks.toml
  .typos.toml
  Cargo.toml
  deny.toml
  forge-gateway/Cargo.toml
  lefthook.yml
  rust-toolchain.toml
Due: toml-check

feat(justfile): add outer-to-inner-gate target
  justfile
Due: none

chore(repo): adopt comprehensive .gitignore + .gitattributes
  .gitattributes
  .gitignore
Due: none

Path conditions:
  format: any of: *.rs
  clippy: any of: *.rs
  toml-check: any of: *.toml
